<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="author" content="netropolis s.r.o." />
		<meta name="keywords" content="{searchEngine_keywords}" />
    <meta name="description" content="{meta_description}" />
		
		<link rel="STYLESHEET" href="/style/default.css" type="text/css" />
		<link rel="STYLESHEET" href="/style/menu.css" type="text/css" />
		
		<title>{titlePath} - EMM, spol. s r.o. </title>
		
		<link href="/include/flexscrollstyles/flexcrollstyles.css" rel="stylesheet" type="text/css" />
		<script type='text/javascript' src="/include/flexscrollstyles/flexcroll.js"></script>
		
		<script type="text/javascript" src="/include/js/swfobject.js"></script>

		<script type="text/javascript" src="/include/js/fancybox/jquery.js"></script>
		<script type="text/javascript" src="/include/js/fancybox/jquery.shadow.js"></script>
		<script type="text/javascript" src="/include/js/fancybox/jquery.ifixpng.js"></script>
		<script type="text/javascript" src="/include/js/fancybox/jquery.fancyzoom.min.js"></script>

		{module fancyzoom}
	
		<!--
		<script type="text/javascript" src="/include/js/scroller.js"></script>
    	<link rel="STYLESHEET" href="/style/scroller.css" type="text/css" />
		
		-->
    	<!--[if IE]>
			
			<link rel="STYLESHEET" href="/style/ie-menu.css" type="text/css" />
		<![endif]-->
    	
 		<script type="text/javascript" src="/include/js/dom-drag.js"></script>
		
		<script type="text/javascript" src="/include/js/jscripts.js"></script>
	</head>
<body>

<center>


<div class="floater">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td id="leftLogo">
			&nbsp;
		</td>
		<td width="960" id="middleLogo">
			
			<div id="content">

				<div id="header">
				
					<div id="header-left">
						<a href="http://www.emm.sk/en/"><img src="/pics/logo_emm.gif" border="0" alt="EMM logo" /></a>
						<!--
						<script type="text/javascript">
						   var so = new SWFObject("/pics/logo2.swf", "logoEMM", "343", "80", "6.05", "#000000");
						   so.addParam("wmode", "transparent");
						   so.write("header-left");         
						</script>
						-->
					</div>
					
					<div id="header-left2">
					<!--<script type="text/javascript">
					   var so = new SWFObject("/pics/flash/345x70-4.swf?clickTAG=http://www.emm.sk/sk/produkty-a-sluzby/sw-aplikacie/flexlogin/", "logoEMM", "345", "70", "6.05", "#000000");
					   so.addParam("wmode", "transparent");
					   so.write("header-left2");         
					</script> -->
					</div>
					
					<div id="header-right">
						<a href="/en/about-us/quality-management-system/"><img src="/pics/astra-ia.gif" border="0" alt="ISO 14001" /></a>
						<a href="/en/about-us/quality-management-system/"><img src="/pics/logo_right.gif" border="0" alt="ISO 9001" /></a>
            <a href="/en/about-us/quality-management-system/"><img src="/pics/iso_27001.gif" border="0" alt="ISO 27001" /></a>
					</div>
					<div class="clear"></div>
					
				</div>
				
				<div id="header-flash">
				
					<script type="text/javascript">
					   var so = new SWFObject("/pics/flashnew.swf", "intro", "960", "48", "6.05", "#000000");
					   so.addParam("wmode", "transparent");
					   so.write("header-flash");
					</script>
				</div>

					<div id="drop-down-menu">
						<div class="prazdno"></div>

            <div id="main_menu">
              {module topMenu}
            </div>

						<div class="vlajky">
							<a href="/sk/"><img src="/pics/vlajka_svk.gif" border="none" alt="Po Slovensky" /></a>
							<a href="/en/"><img src="/pics/vlajka_uk.gif" border="none"  alt="In English" style="margin-left: 15px" /></a>
						</div>
						<div class="clear"></div>
					</div>
					

					<div id="main" style="margin-top: 25px">
						<div id="main-left">
							<div id="main-left-top">
									{module leftMenu}
							</div>
						</div>
						<div id="main-right">
							{module pageContent}
						</div>
						<div class="clear"></div>
					</div>
				</div>
		
		</td>
		<td id="rightLogo">
			&nbsp;
		</td>
	</tr>
</table>


	<br>
	
	
	
	<div id="paticka" class="clear">
		<div id="patickaborder">
			<div id="paticka-left">
				<a href="/en/terms-of-usage/" title="Terms of usage">Terms of usage</a>
				<br><a href="/en/personal-data-protection-principles/" title="Personal data protection principles">Personal data protection principles</a>
				<br>(c) EMM, spol. s r.o.
			</div>
			<div id="paticka-right">
				<div class="telfax">
						Phone and fax:<br>
					tel.: <b>+421 (2) 602 54 111</b><br>
					fax.: <b>+421 (2) 602 54 901</b>
				</div>
				<div class="telfax_r">
					E-mail:<br>
					emm@emm.sk<br>
					webmaster@emm.sk
				</div>
			</div>
			<div class="clear"></div>
		</div>	
	</div>

</div>


<div class="clear"></div>
<div id="ciara_dole">
	</div>

</center>

{module googleAnalytics}
</body>
</html>
